@import 'tailwindcss';

:root {
  --background: #18181A;
}


html {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Clash Display', serif;
}

html, body {
  min-height: 100vh;
  color: #dddddd;
}